* {
    font-family: 'Poppins', sans-serif;
}

.menu-nav {
    background-color: #F2DFCE;
}

.logo {
    width: 200px;
}

.nav-itens.show {
    padding: 10px 0 0;
}

.carousel-images img {
    width: 100%;
    height: 700px;
}
